*:focus {
  outline: solid 3px #a00;
}

[aria-hidden="true"] {
  display: none;
}

[role="dialog"]:not([data-skip]) {
  z-index: 1000;
}

[role="dialog"]:not([data-skip]), .dialog__mask {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

[role="document"] {
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 980px;
  overflow: auto;
  overflow-x: auto;
  overflow-x: hidden;
  padding: 8px 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.dialog__mask {
  background-color: rgba(0, 0, 0, 0.4);
}
